html, body {
    font-family: arial,sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    margin: 0 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}

.store {
    margin-right: auto;
}

.img-btn, .img-logo {
    width: 33px;
    padding-top: 5px;
}

.img-logo:hover, .img-btn:hover {
    background-color: #fff;
    box-shadow: 0 5px 3px rgb(32 33 36 / 25%);
    border-color: rgba(223,225,229,0);
    border-radius: 50%;
}
.img-logo {
    width: 39px;
}

.underline:hover {
    text-decoration: underline;
}

.search-area {
    border: 1px solid rgba(153, 153, 153, 0.3);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin: 25px;
    width: 550px;
    text-align: center;
}

.search-area:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.input {
    width: 85%;
    border: none;
    padding: 5px;
    outline: none;
    font-size: 20px;
}

.wraper-btns {
    display: flex;
    gap: 10px;
}

.search, .feeling {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.search:hover, .feeling:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.footer {
    width: 70%;
    margin: auto;
    display: flex;
    gap: 25px;
}

.privacy {
    margin-left: auto;
}

.footer-link {
    color: #70757a;
}
.footer-link:hover {
    text-decoration: underline;
}

